<div class="container containerStyle">
  <br />
  <app-filter-product
    (textChanged)="updateFilterText($event)"
  ></app-filter-product>
  <br />
  <br />
  <ng-template #loadingTemplate>
    <span>Loading...</span>
  </ng-template>
  <div *ngIf="allProducts; else loadingTemplate">
    <table class="table table-hover">
      <thead class="theadStyle">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody class="table-dark">
        <tr *ngFor="let p of allProducts | productfilter : filterText">
          <td>
            <img
              class="imgStyle"
              [src]="p.imageUrl"
              alt="NA"
              [title]="p.productName"
            />
          </td>
          <td>{{ p.productName | uppercase }}</td>
          <td>{{ p.price | currency : "INR" }}</td>
          <!--pipes example-->
          <td><app-star [rating]="p.starRating"></app-star></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
